<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="C900_OMD_UI_Views" />
        <remove name="C900_OMD_FrameworkData" />
        <remove name="_IntrinsicData" />
        <remove name="IntroToWCFDemo.Properties.Settings.PRESConnectionString" />
        <add connectionString="Data Source=AUBRIPRBIW02;Database=EDW_900_OMD_Framework;uid=OMD_User;Pwd=omd" name="_IntrinsicData" />
        <add connectionString="Data Source=AUBRIPRBIW02;Initial Catalog=EDW_900_OMD_Framework;Persist Security Info=True;User ID=OMD_User;Password=omd" name="C900_OMD_FrameworkData" />
        <add connectionString="Data Source=AUBRIPRBIW02;Initial Catalog=EDW_900_OMD_Framework;Persist Security Info=True;User ID=OMD_User;Password=omd" name="C900_OMD_UI_Views" />
    </connectionStrings>
</configuration>
