USE [EDW_900_OMD_Framework]
GO
/****** Object:  Table [dbo].[OMD_UI_EXEC_usp_OMD_MODULE_INSTANCE_FIX_INDICATORS]    Script Date: 10/22/2013 20:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OMD_UI_EXEC_usp_OMD_MODULE_INSTANCE_FIX_INDICATORS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OMD_UI_EXEC_usp_OMD_MODULE_INSTANCE_FIX_INDICATORS](
	[MODULE_INSTANCE_ID] [int] NOT NULL,
 CONSTRAINT [PK_OMD_UI_EXEC_usp_OMD_MODULE_INSTANCE_FIX_INDICATORS] PRIMARY KEY CLUSTERED 
(
	[MODULE_INSTANCE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[OMD_UI_EXEC_usp_OMD_BATCH_INSTANCE_FIX_INDICATORS]    Script Date: 10/22/2013 20:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OMD_UI_EXEC_usp_OMD_BATCH_INSTANCE_FIX_INDICATORS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OMD_UI_EXEC_usp_OMD_BATCH_INSTANCE_FIX_INDICATORS](
	[BATCH_INSTANCE_ID] [int] NOT NULL,
 CONSTRAINT [PK_OMD_UI_EXEC_usp_OMD_BATCH_INSTANCE_FIX_INDICATORS] PRIMARY KEY CLUSTERED 
(
	[BATCH_INSTANCE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[OMD_UI_CONFIG]    Script Date: 10/22/2013 20:08:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OMD_UI_CONFIG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OMD_UI_CONFIG](
	[CONFIG_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONFIG_CODE] [varchar](50) NOT NULL,
	[CONFIG_VALUE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OMD_UI_CONFIG] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[OMD_UI_CONFIG] ON
INSERT [dbo].[OMD_UI_CONFIG] ([CONFIG_ID], [CONFIG_CODE], [CONFIG_VALUE]) VALUES (1, N'EXECLOG_TIMEFRAME_DAYS', N'7')
SET IDENTITY_INSERT [dbo].[OMD_UI_CONFIG] OFF
/****** Object:  View [dbo].[vw_OMD_EXECUTION_LOG]    Script Date: 10/22/2013 20:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vw_OMD_EXECUTION_LOG]'))
EXEC dbo.sp_executesql @statement = N'
CREATE VIEW [dbo].[vw_OMD_EXECUTION_LOG]
AS
SELECT *
FROM (
SELECT	
	BI.BATCH_INSTANCE_ID
	, B.BATCH_CODE
	, BI.BATCH_EXECUTION_SYSTEM_ID
	, BI.START_DATETIME
	, BI.END_DATETIME
	, CAST (CAST ((BI.END_DATETIME - BI.START_DATETIME) AS TIME) AS VARCHAR (30)) AS EXECUTION_TIME
	, PIND.PROCESSING_INDICATOR_DESCRIPTION
	, NR.NEXT_RUN_INDICATOR_DESCRIPTION
	, BI.EXECUTION_STATUS_CODE
	, ES.EXECUTION_STATUS_DESCRIPTION 
FROM
	OMD_BATCH_INSTANCE BI
		INNER JOIN OMD_BATCH B ON BI.BATCH_ID = B.BATCH_ID
		INNER JOIN OMD_PROCESSING_INDICATOR PIND ON BI.PROCESSING_INDICATOR = PIND.PROCESSING_INDICATOR
		INNER JOIN OMD_NEXT_RUN_INDICATOR NR ON BI.NEXT_RUN_INDICATOR = NR.NEXT_RUN_INDICATOR
		INNER JOIN OMD_EXECUTION_STATUS ES ON BI.EXECUTION_STATUS_CODE = ES.EXECUTION_STATUS_CODE
WHERE
	BI.START_DATETIME >= DATEADD (DD, -1 * (SELECT CONFIG_VALUE FROM OMD_UI_CONFIG WHERE CONFIG_CODE = ''EXECLOG_TIMEFRAME_DAYS''), CONVERT (VARCHAR (20), GETDATE(), 112))	

UNION ALL

SELECT 
	-1
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL 
) QRY
WHERE
	QRY.BATCH_INSTANCE_ID <> -1


'
GO
/****** Object:  StoredProcedure [dbo].[usp_OMD_MODULE_INSTANCE_FIX_INDICATORS]    Script Date: 10/22/2013 20:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_OMD_MODULE_INSTANCE_FIX_INDICATORS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[usp_OMD_MODULE_INSTANCE_FIX_INDICATORS]
	@pMODULE_INSTANCE_ID INT
	
AS

BEGIN

SET NOCOUNT ON;
SET ANSI_WARNINGS OFF;

UPDATE OMD_MODULE_INSTANCE
SET
	EXECUTION_STATUS_CODE = ''X''
	, NEXT_RUN_INDICATOR = ''X''
	, PROCESSING_INDICATOR = ''X''
WHERE
	MODULE_INSTANCE_ID = @pMODULE_INSTANCE_ID
	
END	' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_OMD_BATCH_INSTANCE_FIX_INDICATORS]    Script Date: 10/22/2013 20:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_OMD_BATCH_INSTANCE_FIX_INDICATORS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[usp_OMD_BATCH_INSTANCE_FIX_INDICATORS]
	@pBATCH_INSTANCE_ID INT
	
AS

BEGIN

SET NOCOUNT ON;
SET ANSI_WARNINGS OFF;

UPDATE OMD_BATCH_INSTANCE
SET
	EXECUTION_STATUS_CODE = ''X''
	, NEXT_RUN_INDICATOR = ''X''
	, PROCESSING_INDICATOR = ''X''
WHERE
	BATCH_INSTANCE_ID = @pBATCH_INSTANCE_ID


UPDATE OMD_MODULE_INSTANCE
SET
	EXECUTION_STATUS_CODE = ''X''
	, NEXT_RUN_INDICATOR = ''X''
	, PROCESSING_INDICATOR = ''X''
WHERE
	BATCH_INSTANCE_ID = @pBATCH_INSTANCE_ID
	
END	' 
END
GO
/****** Object:  View [dbo].[vw_OMD_EXECUTION_LOG_MODULE_INSTANCE]    Script Date: 10/22/2013 20:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vw_OMD_EXECUTION_LOG_MODULE_INSTANCE]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vw_OMD_EXECUTION_LOG_MODULE_INSTANCE]
AS

SELECT *
FROM (
SELECT
	MI.MODULE_INSTANCE_ID
	, MI.MODULE_EXECUTION_SYSTEM_ID
	, MI.BATCH_INSTANCE_ID
	, M.MODULE_CODE
	, MI.START_DATETIME
	, MI.END_DATETIME
	, CAST (CAST ((MI.END_DATETIME - MI.START_DATETIME) AS TIME) AS VARCHAR (30)) AS EXECUTION_TIME
	, PIND.PROCESSING_INDICATOR_DESCRIPTION
	, NR.NEXT_RUN_INDICATOR_DESCRIPTION
	, MI.EXECUTION_STATUS_CODE
	, ES.EXECUTION_STATUS_DESCRIPTION
	, MI.ROWS_INPUT
	, MI.ROWS_INSERTED
	, MI.ROWS_UPDATED
	, MI.ROWS_DELETED
	, MI.ROWS_DISCARDED
	, MI.ROWS_REJECTED
FROM
	OMD_MODULE_INSTANCE MI
		INNER JOIN OMD_MODULE M ON MI.MODULE_ID = M.MODULE_ID
		INNER JOIN OMD_PROCESSING_INDICATOR PIND ON MI.PROCESSING_INDICATOR = PIND.PROCESSING_INDICATOR
		INNER JOIN OMD_NEXT_RUN_INDICATOR NR ON MI.NEXT_RUN_INDICATOR = NR.NEXT_RUN_INDICATOR
		INNER JOIN OMD_EXECUTION_STATUS ES ON MI.EXECUTION_STATUS_CODE = ES.EXECUTION_STATUS_CODE
		
UNION ALL

SELECT
	-1
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	) QRY
WHERE
	QRY.MODULE_INSTANCE_ID <> -1

'
GO
/****** Object:  View [dbo].[vw_OMD_EXECUTION_LOG_EVENT_LOG]    Script Date: 10/22/2013 20:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vw_OMD_EXECUTION_LOG_EVENT_LOG]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vw_OMD_EXECUTION_LOG_EVENT_LOG]
AS

SELECT *
FROM (
SELECT
	EL.EVENT_ID
	, EL.BATCH_INSTANCE_ID
	, B.BATCH_CODE
	, EL.MODULE_INSTANCE_ID
	, M.MODULE_CODE
	, ET.EVENT_TYPE_DESCRIPTION
	, EL.EVENT_DATETIME
	, EL.EVENT_RETURN_CODE_DETAILS
	, EL.EVENT_DETAIL
FROM
	OMD_EVENT_LOG EL
		INNER JOIN OMD_EVENT_TYPE ET ON EL.EVENT_TYPE_CODE = ET.EVENT_TYPE_CODE
		INNER JOIN OMD_BATCH_INSTANCE BI ON EL.BATCH_INSTANCE_ID = BI.BATCH_INSTANCE_ID
		INNER JOIN OMD_BATCH B ON BI.BATCH_ID = B.BATCH_ID
		INNER JOIN OMD_MODULE_INSTANCE MI ON EL.MODULE_INSTANCE_ID = MI.MODULE_INSTANCE_ID
		INNER JOIN OMD_MODULE M ON MI.MODULE_ID = M.MODULE_ID
		
UNION ALL

SELECT 
	-1
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
	, NULL
) QRY
WHERE
	QRY.EVENT_ID <> -1'
GO
